<%= content_for(:title) do %>
  <title>Dashboard – tapes.fm</title> 
<%end%>

<%= javascript_include_tag "dashboard" %>

<% if current_user.howto %>

<div id="howto" class="container_12">

  <div class="how_box green"> 
    <div class="pipe"> </div>
    <div class="headline"> 
      Dashboard
    </div>
    <div class="subline"> 
      This is your Dashboard. Follow other Musicians and see there new Tapes.
    </div>  
  </div>
  <a href="/explore">
  <div class="how_box blue"> 
    <div class="pipe"> </div>
    <div class="headline"> 
      Explore & Remix
    </div>
    <div class="subline"> 
      Get Inspired by other Musicians and find new Tapes to Remix.
    </div>  
  </div>
  </a>
  <a href="/tapes">
  <div class="how_box red"> 
    <div class="pipe"> </div>
    <div class="headline"> 
      Your Tapes
    </div>
    <div class="subline"> 
      All your ideas on Tape. Upload your Tracks. and Invite friends to work on your ideas.
    </div>  
  </div>
  </a>
  <div class="how_box yellow"> 
    <div class="pipe"> </div>
    <div class="headline"> 
      Your Tracks
    </div>
    <div class="subline"> 
      Shows your newest uploads.
    </div>

  </div>
  <a href="/start">
    <div class="getting_started">More Help</div>
  </a>
    <div class="close">Close</div>
</div>
<% end %>
<div id="container" class="container_12">dashboard</div>

<div class="popin-overlay"> </div>

<script>
  window.Tapesfm.bootstrap = <%= raw @json %>;
  window.Tapesfm.noob = <%= raw @noob %>;
  

  window.Tapesfm.user = <%= raw @user_j %>;
  <% if current_user %>
  //Tapesfm.user.collaborator = <%# raw (@tapedeck.collaborator?(current_user)).to_json %>;
  <% else %>
  <% end %>


  <% key = Rails.application.config.session_options[:key] %>

  Tapesfm.crsf = {};
  Tapesfm.crsf.uploadify_script_data = {};
  Tapesfm.crsf.param = $('meta[name=csrf-param]').attr('content');
  Tapesfm.crsf.token = $('meta[name=csrf-token]').attr('content');
  Tapesfm.crsf.uploadify_script_data[Tapesfm.crsf.param] = encodeURI(encodeURIComponent(Tapesfm.crsf.token ));
  Tapesfm.crsf.uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
  


  //var uploadify_script_data = {};
  //var csrf_param = $('meta[name=csrf-param]').attr('content');
  //var csrf_token = $('meta[name=csrf-token]').attr('content');
  //uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
  //uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
  
  $(document).ready(function() {
  //var uploadify_script_data = {};
});
</script>



