<%= javascript_include_tag "signup" %>


<div id="container" class="container_12 home"> 



  
</div>

<script>
  window.Tapesfm.bootstrap = <%= raw @json %>;
  

  <% if current_user %>
  window.Tapesfm.user = <%= raw @user_j %>;
  //Tapesfm.user.collaborator = <%# raw (@tapedeck.collaborator?(current_user)).to_json %>;
  <% else %>
  <% end %>


  <% key = Rails.application.config.session_options[:key] %>

  Tapesfm.crsf = {};
  Tapesfm.crsf.uploadify_script_data = {};
  Tapesfm.crsf.param = $('meta[name=csrf-param]').attr('content');
  Tapesfm.crsf.token = $('meta[name=csrf-token]').attr('content');
  Tapesfm.crsf.uploadify_script_data[Tapesfm.crsf.param] = encodeURI(encodeURIComponent(Tapesfm.crsf.token ));
  Tapesfm.crsf.uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
  


  //var uploadify_script_data = {};
  //var csrf_param = $('meta[name=csrf-param]').attr('content');
  //var csrf_token = $('meta[name=csrf-token]').attr('content');
  //uploadify_script_data[csrf_param] = encodeURI(encodeURIComponent(csrf_token));
  //uploadify_script_data['<%= key %>'] = '<%= cookies[key] %>';
  
  $(document).ready(function() {
  //var uploadify_script_data = {};
});
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
