<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
                                         

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>tapes.fm</title>
  <meta name="description" content=""> 
  <meta name="viewport" content="width=1050">
  <meta charset='utf-8'>
  <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
  <meta content='' name='tapes.fm is a simple way to make, remix and explore music together.'>
  <meta content='' name='Johannes Schacht'>
  <meta property="og:site_name" content="Tapes.fm"/>
  <meta property="og:image" content="http://assets.tapes.fm.s3.amazonaws.com/images/tapes_fm_f.png"/>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
  

  <p class="alert"><%= alert %></p>
  <%= render :partial => "layouts/header" %>  
  <div class="feedback_btn" id="feedback_button"></div>
  <div class="feedback_bg"></div>
  <div class="popin-overlay"> </div>
  
  <div class="feedback">

    <div class="feedback_icon"></div>
    <h2>Feedback!</h2>
    <div class="feedback_field_box">
    <label id="feedback_label" for="feedback_field">Tell me how you feel about tapes.fm...</label>
    <textarea id="feedback_field" name="feedback_field"></textarea>
    <div class="hint"> or send an email to <a href="mailto:feedback@tapes.fm">feedback@tapes.fm </a></div>
    <div id="send_feedback" >Send</div>
    </div>
  </div>

  <% if notice %>
    
    <div class="flash"><%= notice %></div>
  <% end %>

  <% if alert %>
    <div class="flash"><%= alert %></div>
  <% end %>

    <%= yield %> 
  
    <footer> </footer>
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36856509-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  <script>  
    Tapesfm.settings = {}
    Tapesfm.settings.bucket = "<%=ENV['s3_bucket_name']%>"
  </script>
</body>
</html>
